<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://kit.fontawesome.com/8695b27503.js" crossorigin="anonymous"></script>

     <!-- card starts here -->
    <article class="card-container">
        <figure class="bg-img">
            <img src="bg.png" alt="background" class="bg-image">
        </figure>
        <figure class="profile-img">
            <img src="profile-picture.jpg" alt="profile picture" class="profile-pic">
        </figure>
    </article>
    <!-- card ends here -->

    <article class="card-container">
        <figure class="bg-img">
            <img src="bg.png" alt="background" class="bg-image">
        </figure>
        <figure class="profile-img">
            <img src="profile-picture.jpg" alt="profile picture" class="profile-pic">
        </figure>
        <section class="profile-info"> 
            <h2 class="profile-name"> Jessica Randall</h2>
            <p class="profile-bio"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae natus sed dolor nihil quam voluptas suscipit sequi, iusto quia quidem voluptates necessitatibus magnam et saepe tenetur earum sunt fugit impedit?</p>
        </section>
    </article>

            <nav class="social-links">
            <a class="fa-brands fa-facebook"> </a>
            <a class="fa-brands fa-instagram"> </a>
            <a class="fa-brands fa-whatsapp"> </a>
            <a class="fa-brands fa-linkedin"> </a>
        </nav>
</head>