<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
 
  <script type="module" defer src="../static/js/script.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>3D Travel Map Model</title>
</head>
<body>
    <!-- Earth by Poly by Google CC-BY via Poly Pizza (https://poly.pizza/m/1I5ip-3VOfv) -->

<!-- Airplane by Poly by Google CC-BY via Poly Pizza (https://poly.pizza/m/8ciDd9k8wha) -->

</body>
</html>