<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form With Html & Css</title>
  <link rel="stylesheet" href="../static/css/register.css">return redirect(url_for('home'))
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div>
    <script>


    </script>

  
  <form>
    <h4 class="text-warning text-center pt-5">Recommended Places</h4>
    <label>
     <input type="text" class="input" name="email" placeholder="EMAIL"/>
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>

        <label>
     <input type="text" class="input" name="User Name" placeholder="USER NAME"/>
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
        <label>
     <input type="text" class="input" name="email" placeholder="EMAIL"/>
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
        <label>
     <input type="text" class="input" name="password" placeholder="PASSWORD"/>
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    

    <button type="submit">submit</button>
  </form>
</div>

 </body>
</html>